h1 {
    color: white;
    background-color: darkblue;
    text-align: center;
}
h2 {
    text-decoration:underline;
    color:blue;
    text-align:center;
}
body {
    background-color: white;
}
.small {
    width: 400px;
    height: 500px;
}

a {
    color: green;
}
